*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
#navbar{
    position: sticky;
    padding:.5rem .5rem;
    background: black;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}
.navbar .navbar-brand{
    font-size: 20px;
    font-weight: 800;
}
#navbarSupportedContent a{
    color:#fff;
    border-bottom:2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom:2px solid red;
}
#navbarSupportedContent button{
    background: blue;
    width: 5rem;
    border-radius: 15px;
}

        
    
